# Customer Analysis Case Study

In [710]:
import numpy as np
import pandas as pd

In [711]:
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [712]:
def convert(file):
    file.columns = file.columns.str.strip().str.lower().str.replace(' ', '_')
    file.rename(columns={'st':'state'}, inplace=True)

In [713]:
convert(file1)
convert(file2)
convert(file3)

In [714]:
df = pd.concat([file1,file2,file3], axis=0)

In [715]:
df.drop(['customer'], axis=1, inplace=True)

In [716]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [717]:
df.dtypes

state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

#### Reset indices

In [718]:
df.reset_index(drop=True, inplace=True)

In [719]:
df["customer_lifetime_value"].value_counts()

16468.220790    6
5246.278375     6
22332.439460    6
4270.034394     6
5107.163002     6
               ..
7477.176362     1
15700.284360    1
2968.077571     1
5452.171237     1
2611.836866     1
Name: customer_lifetime_value, Length: 8211, dtype: int64

In [720]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer_lifetime_value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly_premium_auto       9137 non-null   float64
 6   number_of_open_complaints  9137 non-null   object
 7   policy_type                9137 non-null   object
 8   vehicle_class              9137 non-null   object
 9   total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 943.4+ KB

In [721]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [722]:
# def CLF():
    
#     df.customer_lifetime_value = df.customer_lifetime_value.astype(str)
#     for x in df.customer_lifetime_value:
#         if '%' in x :
#             df.customer_lifetime_value = df.customer_lifetime_value.astype(str).str.extract('%').astype(float)

# #df["Customer Lifetime Value"] = df["Customer Lifetime Value"].map(lambda x: x.str.strip('%'))
# #file1_strip = file1.customer_lifetime_value.str.rstrip('!?% \n\t').astype("float64") /100
# #df.customer_lifetime_value.astype(str).str.extract('%').astype(float)

# df['DataFrame Column'] = df['DataFrame Column'].astype(float)

# CLF()

# df

In [723]:
# df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str)

# for x in df.customer_lifetime_value:
#     if '%' in x :
#         x = x.replace('%', '')

In [724]:
# df

# df.customer_lifetime_value[2] = df.customer_lifetime_value[2].str.rstrip('!?% \n\t').astype("float64") /100

# print(df.customer_lifetime_value[2])

#df.customer_lifetime_value[x].str.rstrip('%').astype("float64") /100

In [725]:
# df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str)

# for x, y in enumerate(df['customer_lifetime_value']):
#     if '%' in y:    
#         df.customer_lifetime_value[x] = 'percent'
#     else:
#         continue

In [726]:
def clean_clv(x):
    x = str(x)
    if x == x:
        if x.endswith("%"):
            return float(x.rstrip("%"))/100
        return x
    return x

In [727]:
df.customer_lifetime_value = df.customer_lifetime_value.apply(clean_clv)

In [728]:
df.customer_lifetime_value = pd.to_numeric(df.customer_lifetime_value, errors='coerce')

In [729]:
df.customer_lifetime_value.apply(lambda x: isinstance(x, str))

0        False
1        False
2        False
3        False
4        False
         ...
12069    False
12070    False
12071    False
12072    False
12073    False
Name: customer_lifetime_value, Length: 12074, dtype: bool

### Cleaning gender column

In [730]:
df.gender.value_counts()

F         4560
M         4368
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [731]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'female', 'Femal']:
        return 'F'
    else:
        return 'U'

In [732]:
df.gender = df.gender.apply(clean_gender)

In [733]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,U,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

### Cleaning state column

In [734]:
df.state.value_counts()

California    3032
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: state, dtype: int64

In [735]:
def clean_state(x):
    
    if x in ['Cali', 'California']:
        return 'California'
    elif x in ['WA', 'Washington']:
        return 'Washington'
    elif x == 'AZ':
        return 'Arizona'
    else:
        return x

In [736]:
df.state = df.state.apply(clean_state)

In [737]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,U,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [738]:
df.state.value_counts()

California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: state, dtype: int64

In [748]:
df.drop_duplicates(inplace=True)

### Reset indices again since duplicates removed

In [749]:
df.reset_index(drop=True, inplace=True)

In [750]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,U,Master,7977.057704,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
8871,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
8872,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
8873,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
8874,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
8875,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

### Replace null values with mean

In [751]:
round(df.isna().sum()/len(df),4)*100

state                        0.01
gender                       0.00
education                    0.01
customer_lifetime_value      0.00
income                       0.01
monthly_premium_auto         0.01
number_of_open_complaints    0.01
policy_type                  0.01
vehicle_class                0.01
total_claim_amount           0.01
dtype: float64

In [743]:
def replace_null(x):
    
    if x != x:
        return mean
    return x

In [746]:
mean = np.mean(df.customer_lifetime_value)
df.customer_lifetime_value = df.customer_lifetime_value.apply(replace_null)

In [747]:
round(df.isna().sum()/len(df),4)*100

state                        24.32
gender                        0.00
education                    24.32
customer_lifetime_value       0.00
income                       24.32
monthly_premium_auto         24.32
number_of_open_complaints    24.32
policy_type                  24.32
vehicle_class                24.32
total_claim_amount           24.32
dtype: float64

<b> Customer Lifetime Value

In [611]:
mean_clv = np.mean(df.customer_lifetime_value)
mean_clv

7977.057704072508

In [664]:
df.customer_lifetime_value = df.customer_lifetime_value.fillna(mean_clv)

In [665]:
df

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,U,Master,7977.057704,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

<b> Income

In [659]:
# def null(x):
    
#     mean = np.mean(x)
#     x = x.fillna(mean)

In [661]:
# df.income.apply(null)

AttributeError: 'float' object has no attribute 'fillna'

In [660]:
mean_income = np.mean(df.income)
mean_income

37828.820291124

In [615]:
df.income = df.income.fillna(mean_clv)

<b> Monthly Premium Auto